#==============================================================================
# Ignore Rules
#==============================================================================

# Swap files
*.swp

# CMakeFiles
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
